<div><h1>{{#each products}}</h1>
<div>
    <ul>
    <li>Title: {{this.title}}</li>
    <li>Description: {{this.description}}</li>
    <li>Price: {{this.description}}</li>
    <li>Category: {{this.category}}</li>
    </ul>
</div>{{/each}}</div>