* {
  box-sizing: border-box;
  font-family: 'Belanosima', sans-serif;
  margin: 0;
  padding: 0;
}

body, #general{
  gap: 50px;
  max-width: 100%;
  min-height: 100vh;
  width: 100%;
  align-items: center;
  background-image: url();
  background-size:cover;
  display: flex;
  flex-direction: column;    
  justify-content: center;   
  overflow-x: hidden;   
}

/* BARRA DE NAVEGACION */

nav{
  height: 50px;
  left: 0;
  max-width: 100%;
  top: 0;
  width: 100%;
  z-index: 3;
  background-color: orange;   
  position: absolute;       
}

nav>i{
  margin-left: 20px;
  padding: 10px;    
}

.fa-home{
  width: 200px;
}

/* FORMULARIO CREACION DE PRODUCTOS */

button {
  border-radius: 5px;
  font-size: 15px;
  margin-bottom: 0px;
  margin-left: 25px;
  max-width: 100%;
  padding: 10px;       
  width: 400px;        
  background-color: white;
  border: solid 2px #2B2B2B;
  color: #2B2B2B;    
}

button:hover{
  border: solid 2px #0079FF;
  color: #0079FF;
}

button:focus {
  background-color: #0079FF;
  color: white;
}

form{
  margin-bottom: 0px;
  margin-top: 40px;    
}

hr{
  margin-left: 200px;
  width: 50%;
  color: #2B2B2B;
}

h1{
  color: #2B2B2B;
}

input[type=number] {
  appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;    
}

.forminput{
  margin: 25px;
  position: relative;    
}

.forminput>input{
  border-radius: 5px;
  font-size: 15px;
  padding: 10px;
  transition: 0.5s;
  width: 100%;    
  border: solid 1px gray;
  color: #2B2B2B;
  outline: none;       
}

.forminput>input:valid ~ label,
.forminput>input:focus ~ label{
  font-size: 14px;
  letter-spacing: 0.5px;  
  background-color: white;
  color: orange;
  font-weight: bold;
  transform: translateX(10px) translateY(-22px); 
}

.forminput>input:valid,
.forminput>input:focus {
  border: 1px solid orange;
}

.forminput>label{
  font-size: 15px;
  left:0;
  padding: 10px;        
  transition: 0.5s;
  color: gray;
  pointer-events: none;
  position: absolute;
  text-transform: uppercase;    
}

.numero {
  margin-top: -25px;
  display: flex;
  flex-direction: row;    
}

.numero>.forminput>input{
  width: 100px;
}

/* LISTADO DE PRODUCTOS */

li{
  font-size: 18px;
  color:gray;
  font-weight:normal;
}

li>h3{
  color: orange;
  text-transform: uppercase;
}

li>button:hover{
  border: solid 2px #DA1212;
  color: #DA1212;    
}

li>button:focus {
  background-color: #DA1212;
  color: white;
  /* transform: rotate(180deg);
  transition: transform 0.5s; */
}  

ol {
  margin-top: 25px;
  text-align: center;
  list-style-type: none;
}

ol>hr{
  margin-bottom: 15px;
  margin-left: 55px;
  width: 80%;       
  color: gray;
}

p{
  color: #2B2B2B;
  display: inline;
  font-weight: normal;    
}

.allproducts {
  max-width: 100%;
  padding:25px;
  padding-top: 0px;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-evenly;
  overflow-x: hidden;  
  padding-left: 0px;
}